# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
flask-env/

# IDE and editor files
.vscode/
.idea/
*.swp

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables file
.env
